.hero {
  background-color: #282c34;
  color: white;
  padding: 120px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  gap: 100px;
  flex-wrap: wrap;
}

.hero-image img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  
}

.hero-content {
  max-width: 600px;
  text-align: left;
}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero-subtitle {
  font-size: 1.4rem;
  margin-bottom: 40px;
  color: #ccc;
}

.highlight {
  color: #00d8ff;
}

.cta-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #00d8ff;
  color: #282c34;
  font-weight: bold;
  border-radius: 30px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #00bcd4;
}

/* Fade in animation */
.hero-title .letter,
.hero-subtitle .letter,
.fade-seq {
  opacity: 0;
  display: inline-block;
  animation: fadeIn 0.4s forwards ease-out;
}

/* optionally speed up the fade for letters */
@keyframes fadeIn {
  to { opacity: 1; }
}

.hero-icon {
  width: 150px;
  height: auto;
  margin-left: 70px;
}
