/* components/TechnicalSkills.css */
.technical-skills {
    background-color: #3e3e3e;
    color: #ffffff;
    font-size: large;
    padding: 30px 50px;
    text-align: center;
  }
  
  .skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
  }
  
  .skill-category {
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
  }
  
  .skill-category h3 {
    color: #78d4e4;
    margin-bottom: 10px;
  }
  
  .skill-category ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .skill-category li {
    margin: 5px 0;
  }
  